<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timemanager">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".TimeManager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/test">
        <activity
            android:name=".ui.systemconfig.SystemConfig"
            android:parentActivityName=".Home" />
        <activity android:name=".MessagePackage.MessageView"
            android:parentActivityName=".Home"/>
        <activity
            android:name=".AlarmFromFriend"
            android:parentActivityName=".AwayPhone" />
        <activity
            android:name=".AwayPhoneController"
            android:parentActivityName=".AwayPhone" />
        <activity android:name=".AwayPhonePackage.AwayPhoneResult"
            android:parentActivityName=".AwayPhoneController"/>
        <activity android:name=".AwayPhonePackage.AwayPhoneScreen"
            android:parentActivityName=".AwayPhoneController"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".AwayPhonePackage.AwayPhoneWhitelist"
            android:parentActivityName=".AwayPhoneController"/>
        <service android:name=".AwayPhonePackage.AwayPhoneService"/>

        <activity
            android:name=".ThemeStore"
            android:parentActivityName=".Home" />
        <activity
            android:name=".HistoryDetail"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ui.friendlist.FriendProfile"
            android:parentActivityName=".ui.friendlist.FriendList" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ui.friendlist.FriendList"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Analyze"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ui.login.Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Home" />
        <activity
            android:name=".AwayPhone"
            android:parentActivityName=".Home" />

        <activity
            android:name=".AlarmManage"
            android:parentActivityName=".Home" />
        <activity
            android:name=".SetAlarm"
            android:parentActivityName=".AlarmManage" />
        <activity
            android:name=".AlarmActivity"
            android:parentActivityName=".AlarmActivity" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlramReceiver"
            android:exported="false"
            >
            <intent-filter android:priority="20">
                <action android:name=".Home"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>