<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timemanager">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.TimeManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/test"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.systemconfig.ResetPassword"
            android:parentActivityName=".ui.systemconfig.SystemConfig" />
        <activity android:name=".ui.profile.EditData" />
        <activity android:name=".StudyEamples.SendHttpRequestExample" />
        <activity
            android:name=".ui.systemconfig.SystemConfig"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.notifications.MessageView"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.alarm.AlarmFromFriend"
            android:parentActivityName=".ui.awayphone.AwayPhone" />
        <activity
            android:name=".ui.awayphone.AwayPhoneController"
            android:parentActivityName=".ui.awayphone.AwayPhone" />
        <activity
            android:name=".ui.awayPhonePackage.AwayPhoneResult"
            android:parentActivityName=".ui.awayphone.AwayPhoneController" />
        <activity
            android:name=".ui.awayPhonePackage.AwayPhoneScreen"
            android:parentActivityName=".ui.awayphone.AwayPhoneController"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.awayPhonePackage.AwayPhoneWhitelist"
            android:parentActivityName=".ui.awayphone.AwayPhoneController" />

        <service android:name=".ui.awayPhonePackage.AwayPhoneService" />

        <activity
            android:name=".ui.themestore.ThemeStore"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.dashboard.HistoryDetail"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.dashboard.HistoryDetailFocus"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.friendlist.AddFriend"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.friendlist.FriendProfile"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.friendlist.AddFriendProfile"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.profile.Profile"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.profile.EditIntro"
            android:parentActivityName=".ui.profile.Profile" />
        <activity
            android:name=".ui.dashboard.Analyze"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.login.Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.register.Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.awayphone.AwayPhone"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.alarm.AlarmManage"
            android:parentActivityName=".ui.home.Home" />
        <activity
            android:name=".ui.alarm.SetAlarm"
            android:parentActivityName=".ui.alarm.AlarmManage" />
        <activity
            android:name=".ui.alarm.AlarmActivity"
            android:parentActivityName=".ui.alarm.AlarmActivity" />
        <activity
            android:name=".ui.home.Home"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.alarm.AlramReceiver"
            android:exported="false">
            <intent-filter android:priority="20">
                <action android:name=".Home" />
            </intent-filter>
        </receiver>
    </application>

</manifest>